 <div class="container col-12">
    <form class="create-post-form">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label" id="post-form-header"> Create a Post</label>
            <input type="input" class="form-control" id="postTitleInput" placeholder="Title">
        </div>
        <div class="mb-3">
            <div style="text-align: start">
                <p class="categories-title">Post Category</p>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="postCategorySelect">
                    <option value="1">Lifestyle</option>
                    <option value="2">Tech</option>
                    <option value="3">Health</option>
                    <option value="4">Wealth</option>
                </select>
            </div>
           
            <label for="exampleFormControlTextarea1" class="form-label"></label>
            <textarea class="form-control" id="postTextInput" rows="3" placeholder="Give us some details about what's going on "></textarea>
        </div> 
        <button type="submit" class="btn btn-primary">Send Post!</button>
    </form>
</div>