<article class="post">

    <div class="title">
        <h4> {{{title}}}</h4>
    </div>
  
    <div class ="text">
        <p>{{{post_text}}}</p>        
    </div>
  
    <div class="meta">
        <a href="api/post/{{id}}">{{comments.length}} Comment(s)</a>
    </div>
  
</article>