<link rel="stylesheet" href='/css/main.css'>

{{!-- Container for navbar --}}
<div class="container-fluid">

    <header class="row">
            {{> navbar }}
    </header>


{{!-- Container for posts and user to create new post  --}}

    <main class="row">

        <div class="container col-3">
             <div class="" id="form-div" >
            {{> create-post-form}}
            </div>
            <div>

            </div>
        </div>    
       
        {{!-- Container for all posts available --}}
        <div class="container col-9" id="posts-div">
            <h1 id="post-div-header"> Posts</h1>
            <ol class="post-list" id="posts-list">

            {{#each posts as |post|}}
            <li class="single-post">
                {{> post-info post}}
            </li>
            {{/each}}

            </ol>
        </div>

    </main>

    <script src="/javascript/logout.js"></script>
    <script src="/javascript/create-post.js"></script>

    <footer>
        <div class="container-fluid">
            <h5>Reach Out To Us</h5>
            <h6><a href="https://github.com/hikod/justask">Just Ask &copy; 2021</a></h6>
        </div>
    </footer>

</div>


