{{!-- <link rel="stylesheet" href='/css/main.css'> --}}

{{!--Container for navbar --}}
<div class="container-fluid">

    <header class="row">
            {{> navbar }}
    </header>


{{!-- Container for posts and user to create new post  --}}

    <main class="row">
            
        {{!-- Container for user to create new post --}}
        <div class="container col-3">
            {{> create-post-form}}
        </div>

        {{!-- Container for all posts available --}}
        <div class="container col-9">
            <ol class="post-list">

            {{#each posts as |post|}}
            <li>
                {{> post-info post}}
            </li>
            {{/each}}

            </ol>
        </div>

    </main>

    <script src="/javascript/logout.js"></script>
</div>
