
/* Main body stylings */
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  background-color: #f5f5f5;

}

/* Navbar stylings */ 
header {
  position: -webkit-sticky;
  position: sticky;
  background-size: cover;
  background-attachment: fixed;
  top: 0;
  z-index: 9999;
 
}

#form-div {
  border: black;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  height: 35%;
}

#post-form-header {
  font-size: 30px;
}

#posts-div {
  text-justify: inter-word;
  text-align: justify;
}

#post-div-header {
  text-align: center;
  margin-bottom: 70px;
}

/* Main element stylings*/ 
main {
  padding-top: 100px;
}

#navbar-title {
  font-size: 50px;
  font-family: 'Anton', sans-serif;
}

.single-post {
  margin: 5px 0px 50px 10px;
}

#posts-list {
  list-style: none;
  margin-left: 10px;
}
/*  Form Stylings start*/
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
  
.form-signup {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signup .checkbox {
font-weight: 400;
}

.form-signup .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signup .form-control:focus {
  z-index: 2;
}

.form-signup input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signup input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  }

.form-signup input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Form Stylings End */